tests/DayzServerTools.Library.Test/Resources/Schemas/cfglimitsdefinitionuser.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="user_lists">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="usageflags">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element maxOccurs="unbounded" name="user">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="usage">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="valueflags">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element maxOccurs="unbounded" name="user">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="value">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>